BODY {
margin: 0px; 
padding: 0px;
background: url('uploads/drop_shadow.jpg') center top;
color: black;
text-align: center;
} 

A:link {background: none; color: dimgray; text-decoration: none; cursor: pointer;}
A:visited {background: none; color: dimgray; text-decoration: none; cursor: pointer;}
A:hover {background: none; color: maroon; text-decoration: none; cursor: pointer;}
A:active { background: none; color: dimgray; background: none; cursor: pointer;}

.Global {
width: 780px;
height: 100%;
margin-left: auto;
margin-right: auto;
background: white;
}

.Global TD {
vertical-align: top;
}

.Header_Text {
font: bold italic 24px "noto serif", georgia, times, serif;
margin: 10px 10px 5px 10px;
color: dimgray;
border-top: 1px dotted dimgray;
border-bottom: 1px dotted dimgray;
}

.Header_Image {
background: url('uploads/header-image.jpg') no-repeat;
width: 760;
height: 130px;
padding: 0px; 
margin-left: 10px;
}

.MenuColTD {
width: 180px;
background: transparent;
color: inherit;
font: normal 13px "noto serif", georgia, times, serif;
border-left: 1px dotted dimgray;
}

.Menu {
margin: 22px 10px 10px 25px;
text-align: left;
}

.Menu A {
display: block;
height: 20px;
text-align: left;
font-weight: bold;
}

.Menu IMG {
display: block;
margin: 10px 0 0 0;
}

.Content {
width: 600px;
background: transparent;
color: inherit;
text-align: justify;
}

.Content A:link {background: none; color: dimgray; text-decoration: underline; cursor: pointer;}
.Content A:visited {background: none; color: dimgray; text-decoration: underline; cursor: pointer;}
.Content A:hover {background: none; color: maroon; text-decoration: underline; cursor: pointer;}
.Content A:active { background: none; color: dimgray; background: underline; cursor: pointer;}

.HeadingStyle {
background: inherit;
color: dimgray;
font: bold italic 20px "noto serif", georgia, times, serif;
}

/* P, UL, LI{
font: 13px "noto serif", georgia, times, serif;
} */

P{
    font: 13px "noto serif", georgia, times, serif;
}

.Padded {
padding: 20px;
}

.SmallFont {
font: 13px "noto serif", georgia, times, serif;
}

.MedFontBold {
FONT: bold 15px "noto serif", georgia, times, serif;
}

.SmallFont TD {
font: 13px "noto serif", georgia, times, serif;
}

.MedFontBold TD {
font: bold 15px "noto serif", georgia, times, serif;
}

.research-title {
    font-size: 15px
}

.project-title {
    font-size: 15px
}

.Footer {
color: #000000;
font: 13px "noto serif", georgia, times, serif;
height: 50px;
text-align: center;
vertical-align: top;
}

.FooterWrap {
border-top: 1px dotted dimgray;
margin-top: 10px;
padding-top: 10px;
font-style: italic;
margin-left: 10px;
margin-right: 10px;
}

.Copyright {
margin-left: 50px;
}

.research-paragraph {
    margin-bottom: 1rem;
}

.project-paragraph{
    margin-bottom: 1rem;
}

.mentor-list{
    margin-top: 0rem;
}
